@charset "UTF-8";
/* CSS Document */

html{
	scroll-behavior: smooth;
}

a{
	color: #000000;
}

#surname{
	color: dimgrey;
	text-transform: uppercase;
}


@media (max-width: 991.98px){
	#cvimg1{
		display: none;
	}
	
	.cvimg{
		background-image: url("../img/p_CV2.jpg");
	}
	
}

section.resume-section .resume-item .resume-date {
	min-width: none
}

@media (min-width:768px) {
	section.resume-section {
		min-height: 100vh
	}
	section.resume-section .resume-item .resume-date {
		min-width: 18rem
	}
}
@media (min-width:992px) {
	section.resume-section {
		padding-top: 3rem!important;
		padding-bottom: 3rem!important
	}
}